body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-family: $oswald;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $dark-gray;

  background-color: $white;

  /* Временно для сетки */
  opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Временно для сетки */
body > * {
  outline: 3px solid green;
  outline-offset: -3px;
}

body > * > * {
  outline: 3px solid rgba(255, 45, 82, 0.9);
  outline-offset: -3px;
}

body > * > * > * {
  outline: 3px solid rgba(111, 213, 247, 0.9);
  outline-offset: -3px;
}

body > * > * > * > * {
  background: rgba(234, 255, 45, 0.2);
  background-clip: content-box;
  outline: 3px solid rgba(234, 255, 45, 0.9);
  outline-offset: -3px;
}

.layout-index {
  min-height: 1185px;
}

.layout-catalog {
  min-height: 1440px;
}

@media (min-width: $tablet) {
  .layout-index {
    min-height: 1680px;
  }

  .layout-catalog {
    min-height: 1615px;
  }
}

@media (min-width: $desktop) {
  .layout-index {
    min-height: 1065px;
  }

  .layout-catalog {
    min-height: 890px;
  }
}
/* Временно для сетки */
