.page-main__wrap {
  background-color: $bg-green;
  background-image:
    url("../img/index-background-mobile@1x.jpg"),
    url("../img/index-can-mobile@1x.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.page-main__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $white;
}

.page-main__slogan {
  font-size: 14px;
  line-height: 14px;
  color: $white;
  text-transform: uppercase;
}

.page-main__title-inner {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.page-main__link {
  color: $white;

  background-color: $bg-green;
}
